<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')  %> 
  <body>
    <%- include('./partials/header.ejs')  %> 
    <div class="container">
      <h1><%= title %></h1>
      <div class="row">
   
   
    <% pelicula.forEach(pelicula => { %>
      <div class="col-6 col-md-6
      col-lg-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="/movies/detail/<%= pelicula.id %>"><img src="/images/default.png" class="card-img" alt="..."></a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= pelicula.title %> </h5>
            <p class="card-text">Duración <%= pelicula.length %> min</p>
            <p class="card-text">Estreno <%= pelicula.release_date %></p>
            <p class="card-text"><small class="text-muted">Rating <%= pelicula.rating %></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% }) %>
 
  </div>
</div>

   
<%- include('./partials/footer.ejs')  %> 
  </body>
</html>
